<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Data Paket</h1>
<body>
    <table>
    <thead>
        <tr>
            <th>ID paket</th>
            <th>Jenis paket</th>
            <th>Harga paket</th>    
        </tr>
    </thead>
    <tbody>
        {% for item in paketobj %}
        <tr>
            <td>{{ item.id_paket }}</td>
            <td>{{ item.jenis_paket }}</td>
            <td>{{ item.harga_paket }}</td>
            <td>
                <a href="{% url 'upaket' item.id_paket %}"><button class="btn btn-warning">Update</button></a>
                <a href="{% url 'dpaket' item.id_paket  %}"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<a href="{% url 'cpaket' %}"><button class="btn btn-primary ">Create</button></a>
<a href="{% url 'login' %}"><button class="btn btn-warning">Home</button></a>
</html>
