<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOSIK Grill Box's Dashboard</h1>
    <br>
    <a href="{% url 'ckaryawan' %}"><button>Buat Karyawan Baru</button></a>
    <br>
    <a href="{% url 'cpaket' %}"><button>Buat Paket Baru</button></a>
    <br>
    <a href="{% url 'cjenis_pengiriman' %}"><button>Buat Jenis Pengiriman Baru</button></a>
    <br><br>
    <button>Buat Laporan(WIP)</button>
    <br><br>
    <a href="{% url 'karyawan' %}"><button>Data Karyawan</button></a>
    <br>
    <a href="{% url 'paket' %}"><button>Data Paket</button></a>
    <br>
    <a href="{% url 'jenis_pengiriman' %}"><button>Data Jenis Pengiriman</button></a>
    <br>
    <a href="{% url 'pelanggan' %}"><button>Data Pelanggan</button></a>
    <br>
    <a href="{% url 'pemesanan' %}"><button>Data Pemesanan</button></a>
    <br> 
    <a href="{% url 'pengiriman' %}"><button>Data Pengiriman</button></a>
    <br>
    <a href="{% url 'detail_pemesanan' %}"><button>Data Detail Pemesanan</button></a> 
</body>
</html>