<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Data pelanggan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
                <tr>
                    <th>Pelanggan</th>
                    <td>
                        <input type="text" name="nama_pelanggan" value="{{pelangganobj.nama_pelanggan}}">
                    </td>
                <tr>
                    <th>Alamat</th>
                    <td>
                        <input type="text" name="alamat" value="{{pelangganobj.alamat}}">
                    </td>
                </tr>
                <tr>
                    <th>no hp pelanggan</th>
                    <td>
                        <input type="number" name="no_hp_pelanggan" value="{{pelangganobj.no_hp_pelanggan}}">
                    </td>
                </tr>
        </table>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
