<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Laporan Pemesanan</h1>
    <form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Mulai</th>
            <td>
                <input type="date" id="" name="mulai">
            </td>
        </tr>
        <tr>
            <th>Akhir</th>
            <td>
                <input type="date" id="" name="akhir">
            </td>
        </tr>
    </table>
    <button type="submit">SUBMIT</button>
    </form>  
</body>
</html>
