<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Data detail_pemesanan</h1>
    <form action=""method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th>Pemesanan</th>
                    <td>
                        <select name="id_pemesanan"id="">
                        {% for item in datapemesanan %} 
                        <option value="{{item.id_pemesanan}}">{{item.id_pemesanan}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Pengiriman</th>
                    <td>
                        <select name="id_pengiriman"id="">
                        {% for item in datapengiriman %} 
                        <option value="{{item.id_pengiriman}}">{{item.id_pengiriman}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">SUBMIT</button>
        </form>
</body>
</html>



